.searchbox {
  //color: white;
  background-color: #f8f8f8;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2%;
  }

.pushdown {
    height: 30px;
    width: 100%;
}

#wholething{
    //background-image:url('some-image.jpg');
    display:none;
}

.banner {
    display: block;
    text-align: center;
    color: #f8f8f8;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    padding-top: 3%;
}

.bannerimage {
    width: 180px;
    height: auto;
}

.powerbadge {
    position: relative;
    color: gray;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0.5%;
}

.mailchimp {
    color: #1b1b1b;
    background-color: #1b1b1b;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 400;
    font-size: 14px;
    height: auto;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

//this isnt working right
.chan:focus{
	outline:none;
}
