.player {
    margin-left: auto; //this usually centers an object but isnt centering the player
    margin-right: auto; //this usually centers an object but isnt centering the player
    width: 100%; //this works
}

.buttonbox {
    font-size: 40px;
}