html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-size: 12pt;
  font-family: 'Fjord One',serif;
  color: white;
  background-image: url("../img/wood.jpg"); }

div.container {
  width: 100%;
  margin: 0 auto; }

header.header {
  height: 3rem; }

h1.header {
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem 0; }

@media (min-width: 850px) {
  header.header {
    height: 5.5rem; }

  h1.header {
    font-size: 4rem;
    padding: 0.5rem 0 1rem 0; } }
div.screen {
  background: silver;
  width: 100%;
  height: 350px;
  display: block;
  font-size: 0rem;
  vertical-align: top;
  box-shadow: inset 0 0 5px black; }

div.main {
  width: 100%;
  display: inline-block;
  font-size: 12pt;
  height: 100%;
  background: black; }

div.arrow {
  width: 50%;
  display: block;
  font-size: 12pt;
  height: 2rem;
  text-align: center; }

div.right {
  float: right; }

div.left {
  float: left; }

div.arrow:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

img.arrow {
  display: inline-block;
  height: 2rem;
  vertical-align: middle; }

div.arrow:active {
  box-shadow: inset 0 0 7px black; }

@media (min-width: 550px) {
  div.arrow {
    width: 10%;
    height: 100%;
    box-shadow: inset 0 0 5px black; }

  div.arrow:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; }

  div.main {
    width: 80%; }

  img.arrow {
    display: inline-block;
    width: 100%;
    height: auto;
    vertical-align: middle; } }
@media (min-width: 850px) {
  div.screen {
    height: 550px; } }
div.menu {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0; }

div.shr, div.vote {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  vertical-align: top; }

div.shr {
  float: right; }

div.vote {
  float: left; }

img.shr {
  margin: 0.25rem 2.5%;
  width: 20%;
  font-size: 12pt; }

img.vote {
  margin: 0.25rem 5%;
  width: 40%;
  font-size: 12pt; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 550px) {
  div.shr, div.vote {
    width: 50%; }

  img.vote {
    margin: 0.25rem 2.5%;
    width: 20%;
    font-size: 12pt; } }
div.feed {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 0.5rem auto;
  font-size: 0;
  background: silver;
  box-shadow: inset 0 0 5px black; }

div.feed.option {
  display: inline-block;
  width: 90%;
  margin: 1rem 5%;
  height: 8rem;
  background: black; }

h2.feed {
  font-size: 2rem;
  padding: 0.5rem 0;
  text-align: center;
  color: black; }

@media (min-width: 550px) {
  div.feed.option {
    width: 15%;
    margin: 1rem 2.5%; } }

/*# sourceMappingURL=grid.css.map */
